@charset "UTF-8";
/* Estilos para el HEADER */
.header {
  font-size: 0.75em;
  background-color: #343A40;
  padding: 0.5em 2em;
  border-bottom: 1px solid #dee2e6;
}
.header .logo {
  width: 50px;
  height: auto;
}
.header .nav ul {
  list-style: none;
  padding-top: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.header .nav ul li {
  margin-right: 0.5em;
}
.header .nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}
.header .nav ul li a:hover {
  text-decoration: none;
  background-color: #777;
  padding: 0.5em;
  color: #000000;
  border-radius: 0.625em 0.25em 0.625em 0.25em;
  transition: 300ms;
  justify-items: center;
}
.header .logo:hover {
  transition: 300ms;
  transform: scale(1.25);
}

/* Estilos para el pie de página */
.footer {
  background-color: #f1f1f1;
  font-size: small;
  padding: 0;
  text-align: center;
  border-top: 1px solid #dee2e6;
}
.footer .footer-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 1.875em;
  font-size: 0.875em;
}
.footer .footer-nav ul li {
  display: flex;
}
.footer .footer-nav ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  position: relative;
  padding: 0.5em 1em;
  border-radius: 0.1875em;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}
.footer .footer-nav ul li a:hover {
  color: #333333;
  background-color: #dcdcdc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.footer .footer-nav ul li a:focus, .footer .footer-nav ul li a:active {
  color: #000000;
  background-color: #e0e0e0;
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}

/* Estilos generales para el cuerpo de la página */
body {
  font-family: "Montserrat", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos para la sección SPONSORS */
.sponsors {
  text-align: center;
  margin: 0.5em;
  border-bottom: 1px solid #dee2e6;
}
.sponsors .sponsor-item {
  text-align: center;
}
.sponsors .sponsor-item .nombredelsponsor {
  font-size: 1em;
  text-align: center;
}
.sponsors .sponsor-item .carousel-inner {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.sponsors .sponsor-item .sponsor-img {
  width: 20em;
  height: auto;
  border-right: 5px solid #ccc;
  border-bottom: 5px solid #ccc;
  object-fit: contain;
}

/* Estilos para los encabezados y párrafos */
h3 {
  font-size: 1.125em;
  text-align: left;
  font-style: italic;
  font-weight: 600;
}

p {
  text-align: justify;
}

/* Estilos para el encabezado donde está el logo de la página (debajo del header) */
.titulodepagina {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  margin: 0.5em 0;
  flex-direction: row;
}
.titulodepagina img {
  width: 80px;
  height: 80px;
  border-right: 5px solid #ccc;
  border-bottom: 5px solid #ccc;
  margin-right: 0.5em;
}
.titulodepagina h1 {
  font-style: italic;
  font-weight: 700;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;
}
.titulodepagina p {
  font-size: 0.875em;
  color: #343a40;
}

/* Estilos para el contenido principal TITULARES */
.content {
  text-align: center;
  border-bottom: 2px solid #dee2e6;
  margin-bottom: 0.25em;
  padding: 0;
}

.titulodeseccion {
  font-size: 2em;
  padding: 0.25em;
  background-color: #6c757d;
  color: #ffffff;
  font-style: italic;
  font-weight: bold;
}

/* Estilos para la sección de ítems */
.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.item img {
  width: 95%;
  height: auto;
  border-right: 5px solid #ccc;
  border-bottom: 5px solid #ccc;
}

/* Media Queries para Responsividad */
@media (max-width: 576px) {
  .header {
    font-size: 0.875em;
    padding: 1em 0.5em;
  }
  .header .logo {
    width: 40px;
  }
  .nav ul {
    flex-direction: column;
    align-items: center;
  }
  .nav ul li {
    margin-right: 0;
    margin-bottom: 1em;
  }
  .titulodepagina {
    flex-direction: column;
    margin: 0.5em 0;
  }
  .titulodepagina img {
    width: 60px;
    height: 60px;
  }
  .content {
    padding: 0 1em;
  }
  .item {
    flex-direction: column;
    text-align: center;
  }
  .sponsor-img {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .item {
    flex-direction: row;
  }
}

/*# sourceMappingURL=styles.css.map */
